.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    height: 30px;
    font-size: 18px;
    transition: font-size 200ms, color 250ms;
    // margin-right: 5px;

    &:hover {
        color: rgb(91, 91, 202);
        font-size: 20px;
    }

    input[type="checkbox"] {
        display: flex;
        appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;

        &:checked {
            background-color: rgb(91, 91, 202);
            border: 1px solid #adb8c0;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
                inset 15px 10px -12px rgba(255, 255, 255, 0.1);
            color: #99a1a7;
        }

        &:checked:after {
            content: "\2714";
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: white;
        }
    }
}
